exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "palette")
importFrom("graphics", "par")
importFrom("methods", "is")
importFrom("stats", "mad", "median", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("magrittr","%>%", "%<>%")
importFrom("stringr","str_replace_na")
importFrom("RColorBrewer", "brewer.pal")
importFrom("limma", "lmFit", "eBayes")
